.inputIdle
{
    border: 1px solid #222031;
    background-image: url("кокой-нибудь");
}

.errorMessage
{
    display: block;
    color: darkred;
    font-size: 100px;
    text-align: center;
    margin: auto;
}

.centerContainer
{
    margin: auto;
    align-content: center;
}
