.flatLightGray
{
    background-color: #f5f5f5;
    border: 1px solid #212121;
}

input {
    height: 32px;
    font-size: 15px;
    padding: 0 10px;
    border-radius: 100px;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 2px #FFFFFF,
    0 0 0 4px #63476f;
    margin-bottom: 15px;
}

